html,
body {
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-family: 'Prompt', sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.ant-checkbox .ant-checkbox-inner {
  width: 27px;
  height: 27px;
}

.ant-checkbox .ant-checkbox-inner:after {
  width: 8px;
  height: 14px;
}

/* .ant-input {
  border: 1px solid #000000 !important;
} */

.ant-collapse {
  border-radius: 0px;
  background-color: #ffffff;
}

.ant-collapse>.ant-collapse-item:last-child, :where(.css-dev-only-do-not-override-1r41j4b).ant-collapse>.ant-collapse-item:last-child>.ant-collapse-header {
  border-radius: 0px;
}
